<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Notification</title>
</head>
<body>
<h2 th:text="${subject}"></h2>
<img th:src="${logoImage}" alt="logo" style="width: 300px; height: auto;"/>
<hr/>
<div th:each="content : ${contents}">
    <p>
        <b>Title:</b> <span th:text="${content.title}"></span>
    </p>
    <p>
        <b>Summary:</b> <span th:text="${content.summary}"></span>
    </p>
    <p>
        <b>Original Link:</b>
        <a th:href="${content.originalLink}" th:text="${content.originalLink}"></a>
    </p>
    <p>
        <b>Thumbnail:</b><br/>
        <a th:href="${content.originalLink}" target="_blank">
            <img th:src="${content.thumbnail}" alt="Thumbnail Image" style="width: 300px; height: auto;"/>
        </a>
    </p>
    <hr/>
</div>
</body>
</html>
